* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fff;
}

main {
  background: linear-gradient(rgba(82, 0, 255, 0.75), rgba(82, 0, 255, 0.75)),
    url("./bg.jpg");
  background-size: cover;
}

.hero {
  padding: 6.75em 3em;
  text-align: center;
  color: #fff;
}

.hero h1 {
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  line-height: 100%;
  font-size: 3.25em;
  margin-bottom: 1.3em;
}

.hero p {
  margin-top: 1.3em;
  font-size: 1.23em;
  font-weight: 500;
}

section {
  padding: 5.625em 2.625em;
}

form {
  font-size: 1em;
  font-weight: 500;
  width: 100%;
}

.form-el:last-child {
  margin-top: 3em;
}

.form-el:not(:last-child) {
  margin-bottom: 2.5em;
}

.form-el label {
  margin-bottom: 0.5em;
  display: inline-block;
}

.form-el input {
  margin-top: 0.5em;
  width: calc(100% - 2em);
  height: 3em;
  border: 1px solid #c7c7c7;
  padding: 0.375em 1em;
  background: #ededed;
  display: inline-block;
}

.form-el input:focus-visible {
  outline: none;
}

.form-el [type="submit"] {
  letter-spacing: 0.75px;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  background: #5200ff;
  color: #fff;
  width: 100%;
  height: 3.7em;
  padding: 0.9em 0;
}

.form-el [type="submit"]:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 700px) {
  .hero {
    padding: 6.75em 9em;
  }

  .hero h1 {
    line-height: 130%;
    font-size: 3.75em;
    margin-bottom: 1.3em;
  }

  .hero p {
    font-size: 1.3em;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
  }

  .form-el {
    flex: 0 1 calc(50% - 1.25em);
  }

  .form-el:last-child {
    margin-top: 0;
  }

  .form-el:not(:last-child) {
    margin-bottom: 1em;
  }

  .form-el [type="submit"] {
    width: 50%;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    height: 100vh;
  }

  .container {
    display: flex;
    height: 100%;
  }

  main {
    flex: 0 1 50%;
    display: grid;
    place-items: center;
  }

  .hero {
    padding: 0;
    width: 50%;
    font-size: 18px;
  }

  .hero h1 {
    letter-spacing: 1.25px;
    line-height: 130%;
    font-size: 3.75em;
    margin-bottom: 1.3em;
  }

  .hero p {
    font-size: 1.3em;
  }

  section {
    display: grid;
    place-items: center;
    flex: 0 1 50%;
  }

  form {
    display: block;
    width: 50%;
    font-size: 18px;
  }

  .form-el:last-child {
    margin-top: 4em;
  }

  .form-el:not(:last-child) {
    margin-bottom: 2em;
  }
}
